{% load i18n admin_static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
    {% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LA RETOQUERIA</title>

    <!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">

    <!-- MetisMenu CSS -->
	<link rel="stylesheet" href="{% static 'css/metisMenu.min.css' %}">

    <!-- Timeline CSS -->
    <!--
    <link href="../dist/css/timeline.css" rel="stylesheet">
    -->

    <!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}">

    <!-- Retoqueria CSS -->
    <link rel="stylesheet" href="{% static 'css/retoqueria.css' %}">

    <!-- Morris Charts CSS -->
    <!--
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">
    -->

    <!-- Custom Fonts -->
	<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style>
{% if request.path != "/admin/" and not is_popup %}
@media(min-width:768px) {
    #id_content {
        position: inherit;
        margin: 0 0 0 200px;
        padding: 0 30px;
    }
}
{% else %}
    #id_modulos {
        padding-right: 20px;
        padding-left: 20px;
    }

{% endif %}
</style>

</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

    <div id="wrapper">

        <!-- Navigation -->
        {% if not is_popup %}
        <!--
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        -->
        <nav class="navbar navbar-light" style="background-color: #FF9200;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin/" style="color: #FFFFFF; background-color: #FF9200;">LA RETOQUERIA</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #FFFFFF; background-color: #FF9200;">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/admin/password_change/"><span class="glyphicon glyphicon-lock"></span> Cambiar contraseña</a></li>
                        <li><a href="/admin/logout/"><span class="glyphicon glyphicon-off"></span> Cerrar sesi&oacute;n</a></li> 
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

	        {% if request.path != "/admin/" %}
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-expand">
                {% include "admin/left_menu.html" %}
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
            {% endif %}

        </nav>
        {% endif %}

        <!-- <div id="page-wrapper"> -->
        <div id="id_content">

            {% block messages %}
                {% if messages %}
                <ul class="messagelist">{% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}

            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}" align="left">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title and request.path != "/admin/" %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}
                <br class="clear" />
            </div>
            <!-- END Content -->
            {% if request.path == "/admin/" %}
                {% include "admin/modulos.html" %}
            {% endif %}
        </div>
        <!-- end content-->

        <!-- </div> -->
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
	<script src="{% static 'admin/js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
	<script src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
	<script src="{% static 'js/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <!--
    <script src="../bower_components/raphael/raphael-min.js"></script>
    <script src="../bower_components/morrisjs/morris.min.js"></script>
    <script src="../js/morris-data.js"></script>
    -->

    <!-- Custom Theme JavaScript -->
	<script src="{% static 'js/sb-admin-2.js' %}"></script>
    <script src="{% static 'js/formatter.min.js' %}"></script>
    <script src="{% static 'js/formatter.js' %}"></script>


    {% block extrajs %}{% endblock %}
    
    {% block footer %}<div id="footer"></div>{% endblock %}

</body>

</html>
